@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220 83.3% 57.8%;
    --primary-foreground: 0 0% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 225.9 10.1% 10.1%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 225.9 10.1% 40.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 225.9 10.1% 10.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;

    --chart-1: 220 83% 58%;
    --chart-2: 160 60% 45%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 12 76% 61%;
    
    --sidebar-background: 230 20% 96%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 220 83.3% 57.8%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 220 13% 91%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 220 13% 86%;
    --sidebar-ring: 224 71.4% 4.1%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 262.1 83.3% 57.8%;
    --chart-1: 262.1 83.3% 57.8%;
    --chart-2: 198 93% 60%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 173 58% 39%;
    --radius: 0.5rem;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 262.1 83.3% 57.8%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 262.1 83.3% 57.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
